<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fabicon.png" rel="icon">
    <link href="style.css" rel="stylesheet">
    <title>마법사</title>
</head>
<body>
    <div class="main">
        <div class="left-panel">
            <div class="chat-panel-wrapper">
                <div class="chat-panel">
                    <div class="logo">
                        <img src="g8.png" alt="Mabubsa image missing">
                    </div>
                    <div class="test">
                        대충 아무내용1
                    </div>
                    <div class="test">
                        대충 아무내용2
                    </div>
                </div>
            </div>
            <div class="prompt-wrapper">
                <div class="prompt">

                </div>
            </div>
        </div>
        <div class="right-panel">
            
        </div>
    </div>
</body>
</html>