<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='fabicon.png') }}" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.css" rel="stylesheet">
    <link href="{{ url_for('static', path='style.css') }}?1" rel="stylesheet">
    <title>마법사</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <script>const url="{{ ip }}";</script>

    <div class="main">
        <div class="left-panel">
            <div class="chat-panel-wrapper">
                <div id="chat-container" class="chat-panel">
                    <div class="logo chatblock">
                        <img src="{{ url_for('static', path='g8.png') }}" alt="Mabubsa image missing">
                    </div>
                    <!-- chat is added here -->
                </div>
            </div>
            <div class="prompt-wrapper">
                <div class="prompt">
                    <textarea id="prompt-textarea">여기에 무언가를 입력하세용</textarea>
                    <div class="submit-button" onclick="prompt_submit()">
                        <img src="{{ url_for('static', path='enter.svg') }}">
                    </div>
                </div>
                
            </div>
        </div>
        <!-- <div class="right-panel">
            
        </div> -->
    </div>
    <script src="{{ url_for('static', path='script.js') }}?v124"></script>

</body>
</html>