<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="fabicon.png" rel="icon">
    <link href="style.css" rel="stylesheet">
    <title>마법사</title>
</head>
<body>
    <div class="main">
        <div class="left-panel">
            <div class="chat-panel">

            </div>
            <div class="prompt-wrapper">

            </div>
        </div>
        <div class="right-panel">
            
        </div>
    </div>
</body>
</html>